%header 
  %titile 
    掲示板
  %ul.user-menu
    %li.user-menu_log_out 
      = link_to destroy_user_session_path, method: :delete, class: "user-menu_log_out__btn" do
        ログアウト
    %li.user-menu_log_in
      = link_to new_user_session_path, class: "user-menu_log_in__btn" do
        ログイン       
    %li.user-menu_sign_in 
      = link_to new_user_registration_path, class: "user-menu_sign_in__btn" do
        新規登録

.board
  .board-contents
    = link_to new_board_path, class: "board-create-link__btn" do
      板作成ページ
  %ul.board-list 
    - @boards.each do |board|
      = board.title
    %li.board-link
      
    -# - if user_signed_in? 
    -#   %li.user-menu_log_out 
    -#     = link_to destroy_user_session_path, method: :delete, class: "user-menu_log_out__btn" do
    -#       ログアウト
    -# - else
    -#   %li.user-menu_log_in
    -#     = link_to new_user_session_path, class: "user-menu_log_in__btn" do
    -#       ログイン       
    -#   %li.user-menu_sign_in 
    -#     = link_to new_user_registration_path, class: "user-menu_sign_in__btn" do
    -#       新規登録
