.wrapper
  = render 'shared/header'
.board
  .board-contents
    .board-contents-top
      .board-contents-top-box
        %h2.board-contents-title
          = @board.title
        %p
        = link_to edit_board_path(@board.id) do
          %i.far.fa-edit.fa-2x 
      .board-contents-image-text
        %p.board-contents-image
          = image_tag @board.image.url, alt: "image", class: "board-contents-image"
        %p.board-contents-text#text-open
          = @board.text
      .board-contents-low-box   
        %button#text-btn
          表示
          
        -# %p.board-contents-name
        -#   ニックネーム：
        -#   = @board.user.name
    .board-contents-comment
      - if current_user
        = form_for [@board, @comment] do |f|
          = f.text_area :comment, class:"", placeholder:"コメントを入力"
          = f.submit "コメントする", class:""


